{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_faq }}
{{ with $data.homepage.section_faq }}

<section class="section section_faq">
    <div class="container">
        <div class="faq__wrap">
            <h2 data-aos="fade-up">{{ .title }}</h2>
            <table class="faq">
                {{ range $i, $el := .items }}
                        <tr class="faq__row" data-aos="fade-up" data-aos-delay="{{ mul $i 150 }}">
                            <td class="faq__term">
                               {{ .term }}
                            </td>
                           
                            <td rowspan="2" class="faq__cta">
                                    <svg class="icon" width="24" height="24">
                                        <use xlink:href="#plus"></use>
                                      </svg>
                                      <svg class="icon" width="24" height="24">
                                        <use xlink:href="#minus"></use>
                                      </svg>
                            </td>
                        </tr>
                        <tr>
                            <td class="faq__body">
                                    {{ .def }}
                            </td>
                        </tr>
                {{ end }}
            </table>
        </div>
    </div>
</section>

{{ end }}
{{ end }}


<script>
    const fag_toggle = document.querySelectorAll('.faq__row');
    

    fag_toggle.forEach(i => {i.addEventListener("click", function(){
        i.classList.toggle('active');
    });});
</script>