<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__divider"></div>
        <div class="footer__top">
            {{ .Scratch.Set "logo_h" "34" }}
            {{ .Scratch.Set  "logo_mode" "dark" }}
            {{- partial "_logo.html" . -}}

            <nav class="footer__nav">
                {{ range .Site.Menus.footer }}
                <a href="{{ .URL }}" target="_self">
                    {{ if .Pre }}
                    <svg class="icon" width="14" height="14">
                        <use xlink:href="#{{ .Pre }}"></use>
                      </svg>
                    {{ end }}
                    
                    {{ .Name }}
                </a>
                {{ end }}
            </nav>

            {{- partial "_contacts.html" . -}}

        </div>
        
    </div>
</footer>
<!--Main Footer-->







